version: '3'
services:
  go:
    build:
      context: .
    container_name: go-tech-blog-go
    ports:
      - 8080:8080
    volumes:
      - .:/go/src
    working_dir: /go/src/app
    tty: true
    command: fresh
  mysql:
    image: mysql:8
    container_name: go-tech-blog-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
    driver: local
