version: "3"
services:
  go:
    build:
      context: .
    container_name: go-tech-blog-go
    ports:
      - 8080:8080
    environment:
      DSN: "root:password@tcp(mysql:3306)/techblog?parseTime=true&autocommit=0&sql_mode=%27TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY%27"
    volumes:
      - .:/go/src
    working_dir: /go/src/app
    tty: true
    command: fresh
  mysql:
    image: mysql:8
    container_name: go-tech-blog-mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: techblog
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
    driver: local
